.carousel {
    flex: auto;
}

.carousel-left {
    width: 9rem;
}
.carousel-center {
    height: 15rem;
    max-height: 75rem;
}
.carousel-right {
    width: 9rem;
}

.carousel-nav button {
    margin: 1rem;
}